[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Continuous integration helpers for nfs-ganesha
[access "refs/*"]
	owner = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	label-Verified = -1..+1 group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	push = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	read = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	rebase = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	removeReviewer = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	submit = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
[access "refs/heads/*"]
	create = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	push = +force group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	pushMerge = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	read = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
[access "refs/tags/*"]
	push = group user/Pragadeeswaran Sathyanaraynaan (psathyan)
	push = +force group user/Pragadeeswaran Sathyanaraynaan (psathyan)
